// cores primarias//
$primary-normal: #06121e;
$primary-dark: #040f1a;
$primary-light: #0c2135;

// cores secundarias//
$secondary-normal:#090d11;
$secondary-dark:#06090c;
$secondary-light: #1a1f25;

//cores escuras//
$black-padrao: #232224;
$brack-dark:#161617;
$black-light: #252426;

//cores claras//
$white-normal: #fff;
$white-dark: #edeaef;
$white-light: #fefbff;

//cores vermelas//
$red-normal: #FF3131;
$red-dark: #b42b2b;
$red-light: #d34040;